@charset "UTF-8";
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 5px 10px;
}
.menu {
	list-style: none;
	padding: 0;
	display: flex;
}
.menu > li {
	margin: 0 10px;
}
a {
	color: black;
}
table input, table textarea {
	border: 0;
	outline: none;
	box-sizing: border-box;
	width: 300px;
}
table textarea {
	min-height: 100px;
	resize: none;
}